
<% include partials/header %>
<h3>Add a dog to the database</h3>
<form method="POST" action="/addDog">
  <label>name</label>
<input type="text" name="name">
<input type="submit" value="submit">
</form>
<h3>A list of dog names in the database</h3>
<ul>
<% dogs.forEach(function(dog){
  %><li><%= dog.name%>
    <a href="#" class="deleteDog" data-id=<%= dog._id %> >
      delete
    </a>
  </li><%
}) %>
</ul>

<% include partials/footer %>
